[submodule "gb_asm_test"]
	path = gb_asm_test
	url = https://github.com/phobos2390/gb_asm_test.git
[submodule "gb_asm_utils"]
	path = gb_asm_utils
	url = https://github.com/phobos2390/gb_asm_utils.git
